table {
  width: 100%;
}

.info-center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.data-align {
  text-align: center;
}

.paginator {
  border: 2px solid blue;
  border-radius: 20px;
}

.alta {
  text-align: center;
  color: #f44336;
}

.media {
  text-align: center;
  color: #ff9800;
}

.baixa {
  text-align: center;
  color: #4caf50;
}

.prioridade {
  text-align: center;
  color: #9c27b0;
}

.pendente {
  text-align: center;
  color: #607d8b;
}

.em-execução {
  text-align: center;
  color: #2196f3;
}

.revisão-pendente {
  text-align: center;
  color: #ffc107;
}

.concluída {
  text-align: center;
  color: #4caf50;
}

.aprovada {
  text-align: center;
  color: #009688;
}