<mat-drawer-container class="drawer-container" hasBackdrop>
  <mat-drawer #drawer mode="side">
    <app-drawer
      [filtros]="filtrosTask"
      (removeFilter)="handleRemoveFilter($event)"
      (removeAllFilters)="handleRemoveAllFilters()"
    ></app-drawer>
  </mat-drawer>

  <div class="drawer-main-content">
    <app-search-bar
      [formFilter]="formFilter"
      [filteredOptions]="filteredOptions"
      (addFilter)="handleAddFiltro()"
      (search)="handleSearch()"
      (clearForm)="handleClearForm()"
      (toggleDrawer)="handleToggleDrawer()"
      (filterOptions)="handleFilterOptions($event)"
      (openNewTaskDialog)="handleOpenNewTaskDialog()"
    ></app-search-bar>

    <app-list-tasks />

    <app-snackbar-alerts #alerts />
    <app-dialog-form-tasks #dialogFormTasks />
  </div>
</mat-drawer-container>
